
*.obj
*.pdb
*.ilk
*.exe
*.tlog
*.db
*.opendb
*.opendb
*.ipch
*.log
.vs/Dx11WithQt/v15/.suo
.vs/config/applicationhost.config
.vs/Dx11WithQt/v15/.suo
.vs/Dx11WithQt/v15/.suo
.vs/Dx11WithQt/v15/.suo
Debug
Release
v15
